<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Contacto</title>
</head>
<body>
    <div class="contacto">
        <div class="contacto-head">
            <h1>En que te puedo ayudar?</h1>
            <div class="form-contacto-img-hola">
                <img src="../imagenes/Imagen PNG-9C1191114990-1.png" class="img-contacto-hola" alt="">    
            </div>
        </div>
    <form id="contacto" action="" method="get"></form>
            <div class="form-contacto">
                <label for="nombre"id="nombre" name="nombre" placeholder="nombre">Nombre</label>
                <input type="text">
                <label for="email" id="email" name="email" placeholder="email" >E-mail</label>
                <input type="email">
                <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
                <input class="boton" type="submit" value="submit" >
            </div>
    </div>



    </form>
</body>
</html>